# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.bridge-race-online.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ata\Desktop\Dev\Projects\Unity\bridge-race-online\.idea\.idea.bridge-race-online\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
